@import "antd/dist/antd.css";

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    background: #dddddd;
}

.app {
    padding: 100px;
}

.about {
    text-align: right;
}

.title {
    font-size: 100px;
    font-weight: 900;
}

.motto {
    font-size: 30px;
    font-weight: 500;
    margin-top: -30px;
}

.mission {
    font-size: 21px;
    font-weight: 300;
}

.mission-content {
    padding-top: 15px;
}

.mission-content strong {
    font-weight: 500;
}

.action-button {
    width: 100%;
    font-size: 17px;
}

/*
    Window Frame
*/

.window {
    padding-top: 70px;
}

.window-title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.window-frame {
    border: 1px solid black;
    color: white;
    box-shadow: 0px 5px 10px #aaaaaa;
}

.window-frame-header {
    background: #2e2f32;
    height: 25px;
}

.window-frame-content-container {
    background: #202124;
}

.button {
    border: 1px solid #333333;
    border-right: 1px solid #202124;
    background: #2e2f32;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.button-title {
    padding: 10px 10px 10px 10px;
}

.button:hover {
    background: #202124;
}

.button-title span {
    text-align: center;
}

.button-selected {
    background: #202124;
}

.output-board {
    background: #191a1c;
    height: 100%;
    color: white;
}

.output-board-content {
    padding: 13px;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    cursor: default;
}

.output-board-container {
    padding: 7.5px;
}

.header-content {
    color: #191a1c;
    font-size: 45px;
    margin-top: -23px;
    float: right;
    margin-left: 30px;
    margin-right: -35px;
}

.header-content span {
    letter-spacing: -2.5px;
    cursor: default;
}

/*
    Terminal Colors
*/

.comment {
    color: #51cc74;
}

.const {
    color: #f96052;
}

.more {
    color: grey;
}

.keyword {
    color: #ea5bea;
}

.class {
    color: lightblue;
}

.filename {
    color: yellow;
}

.query {
    color: #ff9554;
}

.good {
    color: lightgreen;
}

.neutral {
    color: #f2d357;
}

.bad {
    color: #f97272;
}

/*
    Responsive Design
*/

.fast-layout {
    display: none;
}

@media only screen and (max-width: 1070px) {
    .fast-layout,
    .fast-layout .ant-col-10 {
        display: block;
    }

    .fast-layout .ant-col-10 {
        max-width: 100%;
    }

    .fast-layout-buttons {
        padding: 20px;
    }

    .fast-layout .ant-btn {
        width: 100%;
    }

    .fast-layout-button-container {
        padding: 7.5px;
    }

    .fast-layout .title {
        padding-top: 10px;
        font-size: 65px;
    }

    .fast-layout .motto {
        padding: 10px;
        font-size: 22.5px;
    }

    .windows,
    .mission-content,
    .ant-col-1,
    .ant-col-10 {
        display: none;
    }

    .app {
        padding: 0;
    }

    .about {
        padding: 10px;
        text-align: center;
    }

    .title {
        font-size: 60px;
    }
}
